<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  padding>
  <form  [formGroup]="formInscris" (ngSubmit)="save()" > 
    <div>
      <ion-item>
        <ion-icon name="person"></ion-icon>
      <label>Nom : </label>
      </ion-item>
      <ion-input  formControlName="nom"></ion-input>
      <div class="error" *ngIf="formInscris.get('nom').hasError('required') && formInscris.get('nom').touched">
        Veuillez saisir votre Nom 
      </div>
    </div>
    <div>
      <ion-item>
        <ion-icon name="person"></ion-icon>
      <label>Prénom : </label>
      </ion-item>
      <ion-input name="prenom" formControlName="prenom"></ion-input>
      <div class="error" *ngIf="formInscris.get('prenom').hasError('required') && formInscris.get('prenom').touched">
        Veuillez saisir votre Prénom 
      </div>
    </div>
    <div>
      <ion-item>
      <ion-icon name="call"></ion-icon>
      <label>Téléphone : </label>
    </ion-item>
      <ion-input name="tel" formControlName="tel"></ion-input>
      <div class="error" *ngIf="formInscris.get('tel').hasError('required') && formInscris.get('tel').touched">
        Veuillez saisir votre Téléphone 
      </div>
      <div class="error" *ngIf="formInscris.get('tel').hasError('pattern(/^[0-9]\d*$/)') && formInscris.get('tel').touched">
       Numero de Téléphone  invalide
      </div>
      <div class="error" *ngIf="formInscris.get('tel').hasError('minlength') && formInscris.get('tel').touched">
        Numero de Téléphone  au min 8 Chiffres
       </div>
       <div class="error" *ngIf="formInscris.get('tel').hasError('maxlength') && formInscris.get('tel').touched">
        Numero de Téléphone  au Max 8 chiffres
       </div>
    </div>
    <div>
      <ion-item>
        <ion-icon name="mail-unread"></ion-icon>
      <label>E-mail : </label>
      </ion-item>
     <ion-input  type="email" name="mail" formControlName="mail" 
     pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
      <div class="error" *ngIf="formInscris.get('mail').hasError('required') && formInscris.get('mail').touched">
        Veuillez saisir votre E-mail 
      </div>
    </div>
    <div>
      <ion-item>
        <ion-icon name="male-female"></ion-icon>
        <label>Sexe : </label>
      </ion-item>
      <ion-select name="sexe" formControlName="sexe">
          <ion-option value="">Choisir Sexe</ion-option>
          <ion-select-option value="Homme">Homme</ion-select-option>
          <ion-select-option value="Femme">Femme</ion-select-option>
      </ion-select>
      <div class="error" *ngIf="formInscris.get('sexe').hasError('required') && formInscris.get('sexe').touched">
        Veuillez choisir votre Sexe 
      </div>
    </div>
    <div>
      <ion-item>
        <ion-icon name="lock-open"></ion-icon>
      <label>Mot de passe : </label>
      </ion-item>
      <ion-input type="password" name="password" formControlName="password"></ion-input>
      <div class="error" *ngIf="formInscris.get('password').hasError('required') && formInscris.get('password').touched">
        Veuillez saisir votre Mot de passe 
      </div>
    </div> 
    <div>
      <ion-button  type="submit"  class="myButton" expand="block" [disabled]="formInscris.invalid">Valider</ion-button>
    </div>
  </form>
  
</ion-content>