
ion-button,ion-fab-button{
    --background:#ccc;
    --color:#FA8128;
    margin-bottom: 25px;
    margin-top: 10px;
    font-weight: 700;
    
  }
  ion-toolbar{
    --background:black;
    --color:#FA8128;
  }
  ion-content { 
    --ion-background-color:#FA8128;
}
   