

ion-button{
  --background:#ccc;
  --color:#fa8228;
  margin-bottom: 25px;
  margin-top: 10px;
  font-weight: 700;
  
}
ion-toolbar{
  --background:black;
  --color:#fa8228;
}
ion-content{
  --ion-background-color:#FA8128;
}

ion-item{
  --ion-background-color:#FA8128;
  color:white;
}

h2 [_ngcontent-udj-c136]{
  color: #ccc;
  font-weight: bold;}
  
  p [_ngcontent-mwe-c136]{
  color: black;
  font-weight: bold;
}