
ion-button{
    --background:#5c0238;
    --color:#ccc;
    margin-bottom: 25px;
    margin-top: 10px;
    font-weight: 700;
    
  }
  ion-toolbar{
    --background:rgb(49, 3, 53);
    --color:#ccc;
  }